@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;
		--primary: 24.6 95% 53.1%;
		--primary-foreground: 60 9.1% 97.8%;
		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 24.6 95% 53.1%;
		--radius: 0.5rem;
	}

	.dark {
		/* --background: 20 14.3% 4.1%; */
		--background: 0 0% 9%;
		--foreground: 60 9.1% 97.8%;
		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 20.5 90.2% 48.2%;
		--primary-foreground: 60 9.1% 97.8%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		/* --border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%; */
		--border: 18 49% 14.7%;
		--input: 18 49% 14.7%;
		/* --ring: 20.5 90.2% 48.2%; */
		--ring: 18 98% 49%;
	}
}

.theme-custom {
	/* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

	/* CSS: .bg-gradient { background: var(--gradient) } */
	--gradient: #f54703;

	--background: 18 63.699999999999996% 3.92%;
	--foreground: 18 9.8% 97.45%;

	--muted: 18 49% 14.7%;
	--muted-foreground: 18 9.8% 54.9%;

	--popover: 18 45.4% 6.37%;
	--popover-foreground: 18 9.8% 97.45%;

	--card: 18 45.4% 6.37%;
	--card-foreground: 18 9.8% 97.45%;

	--border: 18 49% 14.7%;
	--input: 18 49% 14.7%;

	--primary: 18 98% 49%;
	--primary-foreground: 18 9.8% 4.9%;

	--secondary: 18 49% 14.7%;
	--secondary-foreground: 18 9.8% 97.45%;

	--accent: 18 49% 14.7%;
	--accent-foreground: 18 9.8% 97.45%;

	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 18 9.8% 97.45%;

	--ring: 18 98% 49%;
}
