.barcode_panel {
  border-radius: var(--url-radius);
  max-width: 966px;
  min-height: 715px;
  margin: 3em auto;
  background-color: var(--clr-darker);
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
}

.title {
  font-weight: var(--fw-smbold);
}

.option {
}
