.blogcard {
  border-radius: 5px;
  padding: 10px 16px;
  /* max-width: 330px; */
  text-align: left;
  display: inline-block;
}
.blogcard:hover,
.blogcard:focus,
.blogcard:focus-visible {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.blogcard h3 {
  font-weight: var(--fw-smbold);
  font-size: 18px;
}

.blogcard *:nth-child(2) {
  margin: 16px 0;
}

.blogcard p:last-child {
  color: var(--clr-main);
}
