/* EM	REM	Pixel
1.125em	1.125rem	18px
1.1875em	1.1875rem	19px
1.25em	1.25rem	20px
1.3125em	1.3125rem	21px */

/* EM	REM	Pixel
0.8125em	0.8125rem	13px
0.875em	0.875rem	14px
0.9375em	0.9375rem	15px
1em	1rem	16px */

/* EM	REM	Pixel
1.75em	1.75rem	28px
1.8125em	1.8125rem	29px
1.875em	1.875rem	30px
1.9375em	1.9375rem	31px */

:root {
  /* Colors */
  --clr-main-dark: #5cac84;
  --clr-main: #64dca4;
  --clr-main-light: #89cfad;
  --clr-main-lighter: #e6e8e8;
  --clr-white: #ffffff;
  --clr-light: #eff1f1;
  --clr-light2: #f4f4f4;
  --clr-dark: #151515;
  --clr-dark-gray: #202020;
  --clr-gray: #2e2f2f;
  --clr-gray-light: #8a8a8a;

  /* --clr-main-lighter: #373864;
  --clr-dark: #252332;
  --clr-darker: #100f1b;
  --clr-light: #ffffff;
  --clr-stroke: #585470; */

  --max-width: 1440px;

  /* Spacing */
  font-size: 1rem;
  --spacing-base: 1rem;
  --landing-height: 560px;
  --border-width: 1px;
  --border-width2: 2px;
  --border-width3: 3px;

  /* Properties */
  --radius: 5px;
  --radius-10: 10px;

  /* Fonts */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-smbold: 600;
  --fw-bold: 700;
  --fw-exbold: 800;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Globals */
  line-height: 1.4rem;

  /* Url form */
  --url-border-size: 3px;
  --url-border-color: var(--clr-main);
  --url-form-max-width: 910px;
  --url-form-gap: 12px;
  --url-radius: var(--radius-10);
  --url-transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  :root {
    font-size: 0.9375rem;
  }
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-dark-gray);
  color: var(--clr-white);
  font-weight: var(--fw-medium);
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.4;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: var(--clr-dark);
    background: var(--clr-light);
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0 0.3rem;
  font-weight: var(--fw-regular);
  font-size: inherit;
  font-family: inherit;
}

a:hover,
a:focus {
  color: var(--clr-main);
}
a:focus-visible {
  outline: groove 1px var(--clr-main);
}

input,
textarea,
label {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1.25em;
}
@media (max-width: 768px) {
  .wrapper {
    padding-inline: 1em;
  }
}

.section_seperator {
  margin-block: 3.5em;
}

.button_sm {
  min-width: calc(117px / 1rem);
  font-size: 1rem;
  font-weight: var(--fw-medium);
  border: 2px solid var(--clr-main);
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  background-color: var(--clr-main);
  color: var(--clr-light);
  will-change: filter;
}
.button_sm__outline {
  background-color: transparent;
}
@media (max-width: 768px) {
  .button_sm {
    padding: 0.3em 0.8em;
  }
}

.button_sm:hover,
.button_sm:focus,
.button_sm:focus-visible {
  outline: 2px white solid;
}

.button_sm__outline:hover,
.button_sm__outline:focus,
.button_sm__outline:focus-visible {
  background-color: var(--clr-main-lighter);
}
