.cta_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
@media (max-width: 640px) {
  .cta_buttons {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 300px;
  }
}

.get_started {
  background-color: var(--clr-main);
  color: var(--clr-light);
  font-weight: var(--fw-smbold);
  font-size: 1rem;
  height: 53px;
  padding-inline: 20px;
  border-radius: var(--radius-10);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  transition: gap 0.2s ease-in;
}
.get_started:hover,
.get_started:focus {
  opacity: 0.8;
}

.scan_code_cta {
  border: solid 3px var(--clr-main);
  color: var(--clr-light);
  height: 53px;
  padding-inline: 20px;
  border-radius: var(--radius-10);
}
.scan_code_cta:focus,
.scan_code_cta:hover {
  background-color: var(--clr-main-lighter);
  transition: all 0.2s ease-in;
}

.caption {
  max-width: 733px;
  font-weight: var(--fw-smbold);
  font-size: 1.875rem;
  line-height: 141.5%;
  text-align: center;
  margin: 1.8em auto;
}
@media (max-width: 768px) {
  .caption {
    font-size: 18px;
  }
}

.p_detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.note {
  flex: 1;
  min-width: 300px;
  max-width: 593px;
}

.blog h2 {
  text-align: center;
}

.blog > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.875em;
}

.faq > h2 {
  text-align: center;
}

.faq > div {
  max-width: 800px;
  margin: auto;
}
