.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-block: 1em;
  position: relative;
}

.navigation {
  --gap: 20px;
}

.toggle_bar {
  display: none;
}

@media (max-width: 768px) {
  .nav_header button {
    display: none;
  }
  .navigation {
    position: fixed;
    top: 4.6em;
    right: 10px;
    height: 50vh;
    max-width: 400px;
    width: 90%;
    color: var(--clr-darker);
    background-color: var(--clr-light);
    display: none;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15%;
    justify-content: center;
    border-radius: var(--radius-10);
  }
  .navigation.active {
    display: flex;
  }
  .navigation a {
    color: inherit;
  }
  .toggle_bar {
    display: block;
  }
}

.header_barlink {
  font-size: 30px;
  font-weight: var(--fw-exbold);
  line-height: 2rem;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.header_barlink:hover,
.header_barlink:focus,
.header_barlink:focus-visible {
  text-decoration: underline;
}
