.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.25em;
}

.profile .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8125em;
  padding: 0.5em;
}

.me {
  display: flex;
  align-items: center;
  gap: 1em;
}

.profile_context {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.98rem;
  max-width: 700px;
}

.profile_context h3 {
  font-size: 30px;
  font-weight: var(--fw-smbold);
}

.profile_context p a {
  text-decoration: underline;
  color: var(--clr-main);
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
  .me {
    order: 1;
  }
  .profile img {
    display: none;
  }
  .profile .socials {
    flex-direction: row;
  }
}
